body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #4d4d4d;
    font-family: 'Grandstander';
}

.content-size {
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
}

.d-none {
    display: none !important;
}

#canvas {
    background-color: black;
    border: 3px solid rgb(30, 30, 30);
    filter: drop-shadow(0px 0px 6px rgb(40, 40, 40));
    z-index: 1;
}

.canvas-fullscreen {
    width: 1920px;
    height: 1080px;
}

#canvasBgrContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    max-height: 1080px;
}

.canvas-container {
    position: relative;
    max-width: 1920px;
    max-height: 1080px;
}

.img-div {
    width: 100%;
    max-width: 1920px;
    max-height: 1080px;
}

.bg-img { 
    height: 100vh;
    max-height: 1080px;
    position: absolute;
    z-index: -1;
    width: 100vw;
    max-width: 1920px;
    overflow: hidden;
}

.start-btn-img {
    width: 40px;
    height: 40px;
    transition: all 175ms ease-in-out;
}

#startBtn {
    width: 130px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 30px;
    background-color: rgb(49, 175, 73);
    filter: drop-shadow(0px 0px 3px black);
    transition: all 175ms ease-in-out;
}

#startBtn:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px transparent);
    .start-btn-img {
        filter: drop-shadow(0px 0px 3px black); 
    }    
}

.mr20 {
    margin-right: 20px;
}

.restart-btn-img {
    width: 48px;
    height: 48px;
    transition: all 175ms ease-in-out;
}

#restartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: rgb(32,165,204);
    border: 2px solid white;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 3px black);
    transition: all 175ms ease-in-out;
}

#restartBtn:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px transparent);
    .restart-btn-img {
        filter: drop-shadow(0px 0px 3px black);      
    }    
}

.home-btn-img {
    width: 48px;
    height: 48px;
    transition: all 175ms ease-in-out;
}

#homeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: rgb(211,217,51);
    border: 2px solid white;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 3px black);
    transition: all 175ms ease-in-out;
}

#homeBtn:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px transparent);
    .home-btn-img {
        filter: drop-shadow(0px 0px 3px black);     
    }    
}

.start-end-screeen-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 1080px;
    gap: 40px;
}

#startScreenContainer {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

#endScreenContainer {
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

#gameOverImg {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
    position: absolute;
    z-index: 4;
}

#winImg {
    width: 60%;
    height: 60%;
    max-width: 1920px;
    max-height: 1080px;
    position: absolute;
    z-index: 4;
}

.screen-btn {
    position: absolute;
    background-color: transparent;
    border: 0;
    right: 10px;
    bottom: 10px;
    z-index: 10;
}

.screen-btn:hover {
    cursor: pointer;
}

.screen-btn:hover #fullscreenIcon {
    width: 45px;
    height: 45px; 
}


#fullscreenIcon {
    width: 40px;
    height: 40px;
    transition: all 175ms ease-in-out;
}

.compress-screen-icon {
    width: 45px !important;
    height: 45px !important;
    transition: all 175ms ease-in-out;
}

.screen-btn:hover .compress-screen-icon {
    width: 40px !important;
    height: 40px !important; 
}

#startBtnContainer {
    transition: all 175ms ease-in-out;
}

.content-size-pp-and-imprint {
    max-width: 1920px;
    max-height: 1080px;
    overflow-y: overlay;
}

#imprintAndPrivacyPolicySection {
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    gap: 60px;
    margin-bottom: 5%;
}

.link {
    font-family: 'roboto';
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 3px;
    filter: opacity(0.5);
    transition: all 175ms ease-in-out;
}

.link:hover {
    filter: opacity(1);
}

.imprint {
    font-family: 'roboto';
    background-color: azure;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    margin: 10px;
}

.privacy-policy {
    font-family: 'roboto';
    background-color: azure;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    margin: 10px;
    max-width: calc(100vw - 64px);
    overflow-wrap: break-word;
}

.landing-page-btn {
    position: absolute;
    top: 39px;
    right: 20px;
    filter: brightness(0.5);
    transition: all 175ms ease-in-out;
}

.landing-page-btn-img {
    width: 40px;
}

.landing-page-btn:hover {
    filter: brightness(0.2);
}

.pp-title {
    max-width: 80%;
}